<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkXVYNOpbAcsylv8Ofp8VVBnaSUKWJYxs</string>
	<key>GCM_SENDER_ID</key>
	<string>739478154949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryNewProject</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-9f74f</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-9f74f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739478154949:ios:c86ab5b39b44f35fedcaac</string>
</dict>
</plist>